jambonz-node-red-flow.json
[{"id":"cf484b25.639848","type":"tab","label":"symbold.ai test","disabled":false,"info":""},{"id":"2e99ab18.0bee74","type":"webhook in","z":"cf484b25.639848","name":"","url":"/symbold.ai","method":"post","x":100,"y":60,"wires":[["16644bed.99b234"]]},{"id":"3a9225b7.4cd89a","type":"webhook out","z":"cf484b25.639848","name":"","x":650,"y":180,"wires":[]},{"id":"fa9cdbdd.342208","type":"listen","z":"cf484b25.639848","name":"","actionhook":"","actionhookType":"str","url":"http://1229159dfc27.ngrok.io","urlType":"str","authuser":"","authuserType":"str","finishonkey":"","maxlength":"","metadata":"","metadataType":"json","mixtype":"mono","beep":false,"samplerate":8000,"transcriptionhook":"","transcriptionhookType":"str","recognizerlang":"default","interim":false,"profanityfilter":false,"x":370,"y":180,"wires":[["3a9225b7.4cd89a"]]},{"id":"92fe195f.cd6538","type":"function","z":"cf484b25.639848","name":"enter meeting pin","func":"const action = {\n    verb: 'dtmf',\n    dtmf: msg.call.customerData.meetingPin,\n    duration: 300\n};\n(msg.jambonz || []).push(action);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":60,"wires":[["d6727347.62c22"]]},{"id":"16644bed.99b234","type":"pause","z":"cf484b25.639848","name":"pause 2 secs","len":"2","lenType":"num","x":310,"y":60,"wires":[["92fe195f.cd6538"]]},{"id":"d6727347.62c22","type":"pause","z":"cf484b25.639848","name":"pause 5 secs","len":"5","lenType":"num","x":750,"y":60,"wires":[["3773335.52197cc"]]},{"id":"3773335.52197cc","type":"say","z":"cf484b25.639848","name":"introduce bot","text":"Hey there everyone.  Dave couldn't make the call so he asked me to stand in for him.  I can also ask him questions, or bring him into the call if needed.  Just say \"Hey Jambones, can you ask Dave\", or \"Hey Jambones, can you ask Dave to join the call.\" Alright?","early":false,"loop":1,"vendor":"default","lang":"default","xlang":"default","voice":"default","xvoice":"default","x":130,"y":180,"wires":[["fa9cdbdd.342208"]]},{"id":"bcad95d9.0cb3f8","type":"webhook in","z":"cf484b25.639848","name":"","url":"/dial-boss","method":"post","x":100,"y":420,"wires":[["fe563224.b9727","37d906d8.169eca"]]},{"id":"69bbf598.a0ab3c","type":"webhook out","z":"cf484b25.639848","name":"","x":910,"y":420,"wires":[]},{"id":"95f5630b.d6c68","type":"function","z":"cf484b25.639848","name":"enter meeting pin","func":"const action = {\n    verb: 'dtmf',\n    dtmf: msg.call.customerData.meetingPin,\n    duration: 300\n};\n(msg.jambonz || []).push(action);\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":420,"wires":[["e058c595.a60b88"]]},{"id":"fe563224.b9727","type":"pause","z":"cf484b25.639848","name":"pause 2 secs","len":"2","lenType":"num","x":320,"y":420,"wires":[["95f5630b.d6c68"]]},{"id":"e058c595.a60b88","type":"dial","z":"cf484b25.639848","name":"","targets":[{"type":"phone","varType":"msg","dest":"call.customerData.boss"}],"headers":[],"actionhook":"","actionhookType":"str","answeronbridge":false,"callerid":"13322060388","calleridType":"str","confirmhook":"","confirmhookType":"str","dialmusic":"","dialmusicType":"str","dtmfcapture":"","dtmfcaptureType":"str","dtmfhook":"","dtmfhookType":"str","timelimit":"","timeout":"","listenurl":"","listenurlType":"str","transcribeurl":"","transcribeurlType":"str","interim":false,"transcribelang":"en-US","x":750,"y":420,"wires":[["69bbf598.a0ab3c"]]},{"id":"37d906d8.169eca","type":"debug","z":"cf484b25.639848","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"call","targetType":"msg","x":230,"y":500,"wires":[]}]